@using HospitalManager.Data;
@using Microsoft.AspNetCore.Identity;
@using Microsoft.EntityFrameworkCore;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BeautySaloon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HospitalManager.styles.css" asp-append-version="true" />

</head>
@inject UserManager<AppUser> UserManager
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark" style="background: #8c6884">
            <svg xmlns="http://www.w3.org/2000/svg" style="color: white; margin-left: 10px" width="40" height="40" fill="currentColor" class="bi bi-flower3" viewBox="0 0 16 16">
                <path d="M11.424 8c.437-.052.811-.136 1.04-.268a2 2 0 0 0-2-3.464c-.229.132-.489.414-.752.767C9.886 4.63 10 4.264 10 4a2 2 0 1 0-4 0c0 .264.114.63.288 1.035-.263-.353-.523-.635-.752-.767a2 2 0 0 0-2 3.464c.229.132.603.216 1.04.268-.437.052-.811.136-1.04.268a2 2 0 1 0 2 3.464c.229-.132.489-.414.752-.767C6.114 11.37 6 11.736 6 12a2 2 0 1 0 4 0c0-.264-.114-.63-.288-1.035.263.353.523.635.752.767a2 2 0 1 0 2-3.464c-.229-.132-.603-.216-1.04-.268M9 4a2 2 0 0 1-.045.205q-.059.2-.183.484a13 13 0 0 1-.637 1.223L8 6.142l-.135-.23a13 13 0 0 1-.637-1.223 4 4 0 0 1-.183-.484A2 2 0 0 1 7 4a1 1 0 1 1 2 0M3.67 5.5a1 1 0 0 1 1.366-.366 2 2 0 0 1 .156.142q.142.15.326.4c.245.333.502.747.742 1.163l.13.232-.265.002a13 13 0 0 1-1.379-.06 4 4 0 0 1-.51-.083 2 2 0 0 1-.2-.064A1 1 0 0 1 3.67 5.5m1.366 5.366a1 1 0 0 1-1-1.732l.047-.02q.055-.02.153-.044.202-.048.51-.083a13 13 0 0 1 1.379-.06q.135 0 .266.002l-.131.232c-.24.416-.497.83-.742 1.163a4 4 0 0 1-.327.4 2 2 0 0 1-.155.142M9 12a1 1 0 0 1-2 0 2 2 0 0 1 .045-.206q.058-.198.183-.483c.166-.378.396-.808.637-1.223L8 9.858l.135.23c.241.415.47.845.637 1.223q.124.285.183.484A1.3 1.3 0 0 1 9 12m3.33-6.5a1 1 0 0 1-.366 1.366 2 2 0 0 1-.2.064q-.202.048-.51.083c-.412.045-.898.061-1.379.06q-.135 0-.266-.002l.131-.232c.24-.416.497-.83.742-1.163a4 4 0 0 1 .327-.4q.07-.074.114-.11l.041-.032a1 1 0 0 1 1.366.366m-1.366 5.366a2 2 0 0 1-.155-.141 4 4 0 0 1-.327-.4A13 13 0 0 1 9.74 9.16l-.13-.232.265-.002c.48-.001.967.015 1.379.06q.308.035.51.083.098.024.153.044l.048.02a1 1 0 1 1-1 1.732zM8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2" />
            </svg>            
            <a class="navbar-brand" style="margin-left: 15px" asp-controller="Reception" asp-action="Index">BeautySaloon</a>
            <button class="navbar-toggler" style="margin-right: 10px" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample04">
                <ul class="navbar-nav mr-auto" style="margin-left: 10px">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Reception" asp-action="Index">Запись онлайн</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">О салоне</a>
                    </li>
                    @if (User.IsInRole(UserRoles.Admin))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Админ Панель
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Role" asp-action="Index">Список пользователей</a></li>
                                <li><a class="dropdown-item" asp-controller="Reception" asp-action="Create">Создать запись</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" style="text-decoration: underline;" asp-area="" asp-controller="Reception" asp-action="Stats">Статистика</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" style="text-decoration: underline;" asp-area="" asp-controller="Reception" asp-action="MyReceptions">Мои записи</a>
                        </li>
                        @if(User.IsInRole(UserRoles.Doctor))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" style="text-decoration: underline;" asp-area="" asp-controller="Reception" asp-action="DoctorReceptions">Мои клиенты</a>
                            </li>
                        }
                    }
                </ul>
                <div style="margin-left:auto">
                    <ul class="navbar-nav" style="margin-left: 10px">
                        @if (User.Identity.IsAuthenticated)
                        {
                            var user1 = await UserManager.FindByNameAsync(User.Identity.Name);
                            var currentUser = await UserManager.Users.Include(u => u.ClientsReceptions).FirstOrDefaultAsync(u => u.Id == user1.Id);
                            <li>
                                @if(User.IsInRole(UserRoles.Doctor))
                                {
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <span style="color: white; margin-right: 5px">@currentUser.Surname @currentUser.Name @currentUser.MiddleName (@currentUser.Specialization)</span>
                                        <button style="margin-right: 10px" class="btn btn-outline-light">Выйти</button>
                                    </form>
                                }
                                else
                                {
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <span style="color: white; margin-right: 5px">@currentUser.Surname @currentUser.Name @currentUser.MiddleName</span>
                                        <button style="margin-right: 10px" class="btn btn-outline-light">Выйти</button>
                                    </form>
                                }
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" style="border: 1px solid; margin-right: 4px" asp-controller="Account" asp-action="Login">Войти</a>
                            </li>
                            <li class="nav-item" style="margin-right: 10px">
                                <a class="nav-link text-light" style="border: 1px solid" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="background-color: white">
        <div class="container">
            &copy; 2024 - BeautySaloon
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
